<!--The content below is only a placeholder and can be replaced.-->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tipo" aria-label="Tipo" [matAutocomplete]="auto" [formControl]="formCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of optionList$ | async" [value]="option.description">
        <span>{{option.description}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

  <div
    leaflet
    style="height: 800px"
    [leafletLayers]="layers"
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
  ></div>
<router-outlet></router-outlet>
